<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146550470154-v7jrbj911vei2i4khhheo9p4vgkk1tu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146550470154-v7jrbj911vei2i4khhheo9p4vgkk1tu0</string>
	<key>API_KEY</key>
	<string>AIzaSyCKP8eKp3tlRAvSmapz2SJ7lNlyh-JX6gU</string>
	<key>GCM_SENDER_ID</key>
	<string>146550470154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ntu.JsonPratice</string>
	<key>PROJECT_ID</key>
	<string>jsonpractice-f965c</string>
	<key>STORAGE_BUCKET</key>
	<string>jsonpractice-f965c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146550470154:ios:8d9b6c41753944cd6111f3</string>
</dict>
</plist>